@base-size: 16px;
@text-color: #444;
@bg-color: #eee;

body {
  font-size: 2 * @base-size;
  font-family: sans-serif;

  background-color: darken(@bg-color, 10%);

  padding: 5em;
}

.page {
  color: @text-color;
  background-color: @bg-color;

  padding: 1em;

  .line {
    line-height: 1.5em;
  }
}

.placeholder {
  color: lighten(@text-color, 20%);
}
