@base-size: 16px;
@text-color: #aaa;
@bg-color: #000;

body {
  font-size: 2 * @base-size;
  font-family: 'Alegreya', serif;
  font-style: normal;
  line-height: 1.6em;

  color: @text-color;
  background-color: @bg-color;
}

.page {
  padding: 1em;
  margin: 5em;
}


.Medium-placeholder {
  color: lighten(@text-color, 20%);
}

.toolbar {
  position: fixed;
}

// Prevent blue outline when active
[data-editable]:focus {
  outline: none;
}

// Quick and dirty styles for making buttons more subtle
button {
  color: #999;
  background-color: #111;
  border: none;
}
